* {
  max-width: 1366px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  margin-top: 30px;
  margin-left: 370px;
  margin-right: 370px;
}

.container {
  max-height: 611px;
  width: 627px;

  & header {
    display: flex;
    justify-content: center;
    gap: 7px;
    flex-direction: row-reverse;
    margin-bottom: 62px;
  }

  & header h1 {
    font: var(--title);
    color: var(--content-secondary);
  }

  & .subtitle {
    margin-bottom: 44px;

    & span,
    i {
      color: var(--brand);
      margin-bottom: 16px;
    }

    & span {
      font: var(--link);
    }

    & a {
      text-decoration: none;
    }

    & h2 {
      font: var(--title);
      color: var(--content-primary);
    }
  }
  & .form {
    & .input {
      justify-content: space-between;
      border-radius: 12px;
      border: 2px solid var(--border-primary);
      height: 44px;
      width: 451px;
      font: var(--paragraph);
      padding-left: 16px;

      &::placeholder {
        color: var(--content-tertiary);
      }
      &:hover {
        border: 2px solid var(--border-secondary);
      }
      &:focus {
        border: 2px solid var(--brand);

        &::placeholder {
          color: var(--content-primary);
        }
      }
    }
    & .btn {
      border-radius: 12px;
      background-color: var(--brand);
      color: var(--always-white);
      height: 44px;
      width: 160px;
      font: var(--label);
      margin-left: 12px;
      margin-bottom: 40px;
      cursor: pointer;
      &:hover {
        background-color: var(--brand-hover);
      }
    }

    & li {
      list-style: none;
      align-items: center;
      width: 627px;
      height: 49px;
      margin-left: 2px;
      border-radius: 12px;
      background-color: var(--bg-secondary);

      & .custom-checkbox {
        display: flex;
        align-items: center;
        width: 627px;
        height: 49px;
        & label {
          display: flex;
          align-items: center;
          height: 49px;
          width: 560px;
          font: var(--paragraph);
        }
      }
      & #delete {
        margin-left: 20px;
        height: 20px;
        width: 20px;
      }
    }
  }
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox input + label:before {
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 6px;
  background-color: white;
  border: 2px solid var(--border-primary);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.custom-checkbox input:hover + label:before {
  border: 2px solid var(--border-secondary);
}

.custom-checkbox input:checked + label:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOSA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMSA0LjVMMi43NSA2LjI1TDggMC43NSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--brand);
  border: 2px solid var(--brand);
}
